<!--Display the table if no book was selected-->
<div class="row">
  <div *ngIf="!selectedBook" class="col-md-10">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for..." name="keywords" [(ngModel)]="keywords">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" (click)="filterBooks()">Search!</button>
      </span>
    </div>
    <table class="table" style="margin-top:25px;">
        <tr>
          <th>ISBN</th>
          <th>Title</th> 
          <th>Author</th>
        </tr>
        <tr *ngFor="let book of books" (click)="selectBook(book)">
            <td>{{book.isbn}}</td>
            <td>{{book.title}}</td>
            <td>{{book.authors}}</td>
        </tr>
      </table>
  </div>
  <book-details *ngIf="selectedBook" [book]="selectedBook" (back)="selectedBook=null"></book-details>
</div>





