<!--Display the table if no book was selected-->
<div class="row">
  <div *ngIf="!selectedBook" class="col-md-10">
    <form class="input-group" action="" (submit)="searchBooks()" autocomplete="off">
      <input type="text" class="form-control" placeholder="Search for..." name="keywords" [(ngModel)]="keywords">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-secondary" type="button" (click)="searchBooks()">Search!</button>
      </span>
    </form>
    <table class="table" style="margin-top:25px;" *ngIf="books.length > 0">
        <tr>
          <th>ISBN</th>
          <th>Title</th> 
          <th>Author</th>
        </tr>
        <tr *ngFor="let book of books" (click)="selectBook(book)">
            <td>{{book.isbn}}</td>
            <td>{{book.title}}</td>
            <td>{{book.authors}}</td>
        </tr>
      </table>
      <div *ngIf="loading" class="loading">
          <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
          <h2>Loading</h2>
      </div>
      
  </div>
  <book-details *ngIf="selectedBook" [book]="selectedBook" (back)="selectedBook=null"></book-details>
</div>






